<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/style.css" />
    <title>사용자등록</title>
</head>
<body>
    <th:block th:insert="~{login/loginInfo :: userinfo}" ></th:block>
    <form method="post" th:action="@{ ${ post.title == null ? '/post/register.do' : '/post/update.do' } }" th:object="${post}" >
        <table>
            <caption></caption>
            <tbody>
                <tr>
                    <th th:text="#{postWriterUserId}"></th>
                    <td><input type="text" th:field="*{writerUserId}" disabled></td>
                </tr>
                <tr>
                    <th th:text="#{postTitle}"></th>
                    <td><input type="text" th:field="*{title}" required></td>
                </tr>
                <tr>
                    <th th:text="#{postContent}"></th>
                    <td><input type="text" th:field="*{content}" required></td>
                </tr>
            </tbody>
        </table>
        <p>
            <button type="submit">
                <input type="hidden" name="postId" th:value="${post.postId}" />
                <th:block th:text="${post.title == null ? '등록' : '수정'}"></th:block>
            </button>
        </p>
    </form>
</body>
</html>